.formGroup {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : flex-start;
    padding        : 0;
    margin-bottom  : 12px;
    font-size      : 18px;
    line-height    : 27px;
    color          : #37474f;
    position       : relative;

    input {
        width        : 400px;
        height       : 44px;
        border-radius: 8px;
        border       : var(--boder);
        padding      : 0 12px;
        margin       : 2px 0;
        color        : #535261;
        font-size    : 16px;
    }
}