.btn {
    width        : 162px;
    height       : 40px;
    border-radius: 8px;
    padding      : 10px 24px;
    margin       : 0 20px;
    cursor       : pointer;
}

.primary {
    background: var(--orange);
    color     : var(--white);
}

.cancel {
    color       : var(--orange);
    border      : 1.5px solid var(--orange);
    background  : transparent;
    margin-right: 24px;
}